<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.just.jiguo.dao.BestPlayMapper" >
  <resultMap id="BaseResultMap" type="edu.just.jiguo.model.BestPlay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bestplay_id" property="bestplayId" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="assess" property="assess" jdbcType="INTEGER" />
  </resultMap>

  <select id="getAllBestPlays" resultMap="BaseResultMap">
    select * from bestplay
  </select>

  <insert id="addBestPlay" parameterType="BestGuid">
    insert into bestplay(pic,name,description,price,likes,assess)
    values(#{pic},#{name},#{description},#{price},#{likes},#{assess})
  </insert>

  <select id="getBestPlayById" parameterType="Integer" resultMap="BaseResultMap">
    select * from bestplay where bestplay_id=#{_parameter}
  </select>

</mapper>