<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.just.jiguo.dao.BestReportMapper" >
  <resultMap id="BaseResultMap" type="edu.just.jiguo.model.BestReport" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bestreport_id" property="bestreportId" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="customer" property="customer" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="assess" property="assess" jdbcType="INTEGER" />
    <result column="checkDetail" property="checkdetail" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getAllBestReports" resultMap="BaseResultMap">
    select * from bestreport
  </select>

  <insert id="addBestReport" parameterType="BestGuid">
    insert into bestreport(pic,description,customer,date,likes,assess,checkDetail)
    values(#{pic},#{description},#{customer},#{date},#{likes},#{assess},#{checkDetail})
  </insert>

  <select id="getBestReportById" parameterType="Integer" resultMap="BaseResultMap">
    select * from bestreport where bestreport_id=#{_parameter}
  </select>

</mapper>